In [4]:
import CardSubwayStatsNew as csn

schdt = input("조회 일자 입력(예:20210101):")
df = csn.swdataframe(schdt)

조회 일자 입력(예:20210101):20220101

In [ ]:
# 모듈 위치 :
# "C:\ProgramData\Miniconda3\envs\kdig\Lib\site-packages\CardSubwayStatsNew.py"

In [5]:
df

         사용일자  호선명    역명   승차인원   하차인원
0    20220101  1호선   서울역  18398  16926
1    20220101  1호선   동묘앞   7240   7366
2    20220101  1호선    시청   5604   5006
3    20220101  1호선    종각   9977   8864
4    20220101  1호선  종로3가  11017   9630
..        ...  ...   ...    ...    ...
593  20220101  중앙선    오빈    144    142
594  20220101  중앙선    양평   1432   1481
595  20220101  중앙선    원덕    171    190
596  20220101  중앙선    용문   1171   1224
597  20220101  중앙선    지평     24     40

[598 rows x 5 columns]